{
  "tick_rate": 100,
  "start_time_of_day": [
    12,
    0,
    0
  ],
  "lanes": null,
  "min_start_speed": null,
  "max_start_speed": null,
  "min_start_acceleration": null,
  "max_start_acceleration": null,
  "min_car_length": null,
  "max_car_length": null,
  "min_car_width": null,
  "max_number_of_vehicles": null
}